section.project {
  margin: 30px 0;
}

section.project .section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 50px;
}

section.project .project-h1 {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#0ef), color-stop(#ff00ea), to(#fffb00));
  background: linear-gradient(90deg, #0ef, #ff00ea, #fffb00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.project .project-h1 hr {
  height: 5px;
  background: linear-gradient(45deg, #0004fc, #c300ff);
}

section.project .project-h1:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fffb00), color-stop(#ff00ea), to(#0ef));
  background: linear-gradient(90deg, #fffb00, #ff00ea, #0ef);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.comming-soon {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
  height: 60vh;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.comming-soon .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.comming-soon h1 {
  font-weight: 600;
}

.comming-soon hr {
  margin: auto;
  width: 40%;
  height: 3px;
}

.slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  content: "";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60vh;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.slider-inner .slider-texts {
  width: 457.82px;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-inner .slider-texts h2.slider-title {
  font-size: 2.2rem;
  background: -webkit-gradient(linear, left top, right top, from(#0ef), color-stop(#ff00ea), to(#fffb00));
  background: linear-gradient(90deg, #0ef, #ff00ea, #fffb00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider-inner .slider-texts p {
  font-size: 15px;
  text-align: justify;
  margin: 15px 0;
  font-family: "Roboto",sans-serif;
  line-height: 26px;
}

.slider-inner .slider-texts .slider-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0 20px;
}

.slider-inner .slider-texts #svg-object {
  width: 24px;
  padding: 0;
}

.slider-inner .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 20px 0 0;
}

.slider-inner .project-links a.project-link {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.slider-inner .project-links a.project-link:hover {
  -webkit-box-shadow: 0 0 4px 2px #0ed1df;
          box-shadow: 0 0 4px 2px #0ed1df;
}

.slider-inner img.project-image {
  width: 65%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slider-inner::before {
  content: "";
  border-radius: 10px;
  background: linear-gradient(195deg, #e100ff, #0ef, #3700ff) !important;
}

@media (max-width: 789px) {
  .comming-soon {
    height: 400px;
  }
  .slider-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .slider-texts {
    display: contents !important;
  }
  img.project-image {
    padding-top: 10px;
    width: 100% !important;
  }
}
/*# sourceMappingURL=Projects.css.map */