.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 50px;
}

.project-h1{
    color: #fff;
    background: linear-gradient(90deg,#0ef,#ff00ea,#fffb00);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    hr{
        height: 5px;
        background: linear-gradient(45deg,#0004fc,#c300ff);
    }
}

.project-h1:hover{
    background: linear-gradient(90deg,#fffb00,#ff00ea,#0ef);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-icon{
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    h2{
        color: #fff;
        text-align: left;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .icon-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .icon-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 45px;
        min-height: 45px;
        background: #000;
        border-radius: 50%;
        cursor: pointer;
        margin: 10px 20px;
        position: relative;

        .tooltiptext{
            visibility: hidden;
            width: 150px;
            background-color: #000;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            bottom: 115%;
            left: 50%;
            font-family: "Mulish",sans-serif;
            transform: translate(-50%);
        }
    }

    .icon-wrapper::before{
        position: absolute;
        content: "";
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        z-index: -1;
        border-radius: 50%;
        background: linear-gradient(195deg,#e100ff,#0ef,#3700ff);
    }

    .icon-wrapper:hover{
        .tooltiptext{
            visibility: unset;
        }
    }

    .icon-wrapper:hover::after{
        position: absolute;
        content: "";
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        z-index: -2;
        border-radius: 50%;
        background: linear-gradient(195deg,#e100ff,#0ef,#3700ff);
        filter: blur(5px);
    }
}